img{
    width: 100%;
}
#bee{
    position: absolute;
    height: 8%;
    width: 8%;
    top: 50%;
}
.deactive{
right: 5%;
}
.spin{
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.active{
    position: absolute;
    right: 85%;
    animation: yup 3s linear 1;
}
@keyframes yup{
    0%{
        right: 5%;
    }
    100%{
        right: 85%;
    }
}
#sunflower{
position: absolute;
top: 40%;
height: 18%;
width: 18%;
left: 5%;
}